icecast/logs/*
icecast/config/*
ices/config/*
nginx-tor/tor/config/*
nginx-tor/nginx/config/*
nginx-tor/tor/info
music

!icecast/config/example.icecast.xml
!ices/config/example.ices.xml
!nginx-tor/nginx/config/example.default.conf
!nginx-tor/tor/config/example.torrc